*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
    height: 100vh;
}
h1{
    color: black;
    text-align: center;
}
.card_body{
    background-color: #fff !important;
    width: 100%;
    height: 95vh;
    margin-left: 10%;
}
.card{
    background-color: #fff !important;
    border: 1px solid black;
    width: 18%;
    height: 20vh;
}
.p{
    color: rgb(250, 20, 20);
}